#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  h1 {
    margin: 1rem auto 1rem;
    
  }
  .n{
    color: hsl(0, 0%, 100%);
    padding-top: 0%;
    margin-top: 2px;
    font-size: 15px;
    text-align: center;
  }
  .nn{
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    text-align: center;
  }
  .nnn{
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    text-align: center;
  }
  
  .product--image2 {
    width: 100%;
    height: 32em;
    object-fit: cover;
    transition: transform 0.3s;
    
  }
  /* .product--image:hover {
    transform: scale(1.2);
  } */
  .price{
    background-color: orange;
    border-radius: 20px;
    right: 200px;
    margin-left: 10rem;
    margin-right: 10rem;
  }
 
  h2{
    color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .App {
    padding: 4rem;
    padding-top: 0%;
    margin-left: 4rem;
    margin-right: 4rem;
  }
 
  .holder{
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
   
    
  }
  
  .cardz {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 320px; */
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    /* background-color: rgb(35,42,62); */
    /* height: 320px; */
    overflow: hidden;
    
    
  }
  .hdata{
    
    align-items: center;
    background-color:rgb(35,42,62);
    margin: 5px;
    border: black;
    border-radius: 30px;
    margin-bottom: 24px;
    margin: 0 1rem;
    height: 300px;
    
  }
  .hdata_query{
    
    align-items: center;
    background-color: transparent;
    margin: 1px;
    /* border: wheat; */
    border-radius: 30px;
    margin-bottom: 24px;
    margin: 0 1rem;
    height: 480px;
    
  }
  .hdata_payment{
    
    align-items: center;
    background-color:rgb(35,42,62);
    margin: 5px;
    border: black;
    border-radius: 30px;
    margin-bottom: 24px;
    margin: 0 1rem;

    padding: 10px 5px 10px 5px;
  
  }

  .car_info{
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 80%;
      margin-left: auto;
    margin-right: auto;
    
  }
   .carin{
    border: 1px solid orange;
  padding: 8px;
  color: wheat;

  }
  .carin:hover {background-color: orange;}

  
    input[type = email] {
      width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
      background-color:rgb(35,42,62) ;
      border: 2px solid hwb(39 0% 0%);
    border-radius: 18px;
    text-align: center;
   }
   input[type = textarea] {
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    background-color:rgb(35,42,62) ;
    border: 2px solid white;
  border-radius: 18px;
  height: 230px;
  text-align: center;
 }
  /*.crud{

    background-color: rgb(35,42,62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(35,42,62);
    border-radius: 18px;
    margin: 0 1rem;
    padding: 5px 30px 30px;
  }
  
 
  
  .cardz button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 18px;
  }
  
  .cardz button:hover {
    opacity: 0.7;
  }
  .box{
    
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    justify-content: center;
  }
  .box button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 18px;
  }
  .box button:hover {
    opacity: 0.7;
  }*/