.service-center-list {
  background-color: rgb(9, 19, 36);
  border-radius: 18px;
  padding: 30px;
  width: 60%;
  margin: 50px auto;
}
.service-center-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.service-center-item {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}
.service-center-item {
  background-color: rgb(35, 42, 62);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.service-center-item h2 {
  font-size: 20px;
  color: #ecf0f1;
  margin-bottom: 10px;
}

.service-center-item p {
  font-size: 16px;
  color: #ecf0f1;
  margin-bottom: 5px;
}

.service-center-item .button-container {
  display: flex;
  justify-content: flex-end;
}

.service-center-item button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  /* color: white; */
  cursor: pointer;
  margin-left: 10px;
}

.service-center-item .update-button {
  background-color: #f39c12;
}

.service-center-item .delete-button {
  background-color: #e74c3c;
}

.service-center-item button:hover {
  opacity: 0.8;
}

.service-center-item button:active {
  transform: translateY(1px);
}
